* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: lightgray;
  font-size: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: #fff;
  text-align: center;
  width: 50%;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
}

ul {
  list-style: none;
}

li {
  padding: 1rem;
}

li:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}

a:link,
a:visited {
  display: inline-block;
  text-decoration: none;
  color: #3d3d3d;
}

a:hover {
  color: #77e462;
}
